#define QMARK LS(MINUS) // ?
#define MINUS FSLH // -
#define UNDERSCORE LS(FSLH) // _
#define HASH LS(N3) // #
#define STAR PIPE // *
#define PLUS MINUS // +
#define LPAR LS(N8) // (
#define RPAR LS(N9) // )
#define SLASH AMPS // /
#define BSLH RA(NUBS) // \